<template>
    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    User Table
                    <router-link :to="{ name: 'create' }" class="btn btn-sm btn-success float-right">Add User</router-link>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Created At
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users" :key="user.id">
                                <td>
                                    {{ index + 1 }}
                                </td>
                                <td>
                                    {{ user.name }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    {{ user.created_at }}
                                </td>
                                <td>
                                    <router-link :to="{name: 'edit', params: { id: user.id }}" class="btn  btn-sm btn-warning">Edit</router-link>
                                    <button class="btn btn-sm btn-danger" @click = "deleteUser(user.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    props: ['id'],
    data() {
        return {
          users: []
        }
    },
    created(){
        this.axios.get('http://localhost:8000/api/user').then(response => {
            this.users = response.data;
                });
    },
    methods: {
        deleteUser(id)
        {
            this.$swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Hapus',
                cancelButtonText: 'Batal'
                }).then((result) => {
                if (result.value) {
                    let uri = `api/user/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.users.splice(this.users.indexOf(id), 1);
                    });
                    this.$swal.fire({
                        title: 'Success!',
                        text: response.data.message,
                        icon: 'success',
                        timer: 1000
                    });
                }
            })
        }
    }
}

</script>
